doctype html
html
  head
    title coderabbit
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/vendor/skeleton/css/normalize.css')
    link(rel='stylesheet', href='/vendor/skeleton/css/skeleton.css')
  body
    .body.container

      .bar.cf.row
        a.logo.l(href='/') coderabbit
        a.r(href='#') Login

      .attention.sec
        .slogan Your personal army of programmers
        p Email us any small programming task and we'll finish it in 48 hours.
        .email
          a(href='mailto:start@coderabbit.com') start@coderabbit.com
        a.apply(href='mailto:apply@coderabbit.com') Apply as a developer

      .examples.sec
        a(name='how')
        center (examples go here)

      .pricing.sec
        a(name='pricing')
        .title Anything from $100 to $500 is fair game
        .sub If the project is too big, we won't accept it.

      .stats.sec
        .row
          .three.columns.stat
            .num 3
            .desc lines of bug-free code written, approved, and delivered
          .three.columns.stat
            .num 100
            .desc projects lovingly and masochistically completed
          .three.columns.stat
            .num 200
            .desc programmers ready to do your bidding
          .three.columns.stat
            .num 800
            .desc hours not spent with our loved ones in service of you, the #[em highly valued customer]

      .turnaround.sec
        .title 48 hour turnaround
        p You email us, we give you a price, you accept, our programmers get it done, and you get results&mdash;all within 2 days.

      .quality.sec
        .title High quality work
        .row
          .three.columns.point
            h3 Elite programmers
            p We only accept programmers who use vim or Emacs on Linux and who do everything in a terminal without a mouse.
          .three.columns.point
            h3 Modular code
            p We have never written a function more than 10 lines long.
          .three.columns.point
            h3 Credentials
            p Our founding team consisted of one unicorn working at #[a(href='https://www.robinhood.com/') Robinhood] and one dropout with no future.
          .three.columns.point
            h3 Very fast
            p We get things done in 48 hours or we commit suicide.

      .convinced.sec
        .title You are now convinced
        .email
          a(href='mailto:start@coderabbit.com') start@coderabbit.com

      .footer
        span &copy; coderabbit
        a(href='mailto:start@coderabbit.com') Email us
        a(href='/legal.html') Legal
